<h1 class="text-center">Felvételek: <%= @land.name %></h1>
<% if @land.records.any? %>
    <div class="container">
    <div class="row my-4">
        <% @land.records.each_with_index do |record, index| %>
        <div class="col-md-4">
            <%= render partial: "lands/record", locals: { record: record } %>
        </div>
        <% if (index + 1) % 3 == 0 %>
            </div><div class="row">
        <% end %>
        <% end %>
    </div>
</div>
<% else %>
      <p class="text-center">Még nincs elmentve felvétel...</p>
<% end %>