<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h6 class="m-0 mt-2">
      Hiba!
    </h6>
    <% resource.errors.full_messages.each do |message| %>
        <p style="color: red;"><%= message %></p>
    <% end %>
  </div>
<% end %>
